msdyn_iomproviderdefinitionlogicdefinitions/msdyn_shopify_createcustomer/msdyn_clientdata.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msdyn_sharedcommondataserviceforapps_iomshopify"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_cr1a6-5fshopify-5fb4ae2b78f4d4086f": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msdyn_shopify_iom"
        },
        "api": {
          "name": "shared_cr1a6-5fshopify-5fb4ae2b78f4d4086f"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "customer_id",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Shopify customer_id",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Puller ExecutionId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "Guest_details",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_Provider_Variables": {
          "runAfter": {},
          "type": "ParseJson",
          "inputs": {
            "content": {
              "SourceObjectName": "Shopify Customer",
              "DestinationObjectName": "Dataverse Account",
              "DestinationObjectNameGuest": "Dataverse Guest Account",
              "ExternalFieldName": "customer_id",
              "CancelOrderRequestEvent": "9e8e8202-ecda-eb11-bacc-000d3a3744ce"
            },
            "schema": {
              "type": "object",
              "properties": {
                "SourceObjectName": {
                  "type": "string"
                },
                "DestinationObjectName": {
                  "type": "string"
                },
                "DestinationObjectNameGuest": {
                  "type": "string"
                },
                "ExternalFieldName": {
                  "type": "string"
                },
                "CancelOrderRequestEvent": {
                  "type": "string"
                }
              }
            }
          }
        },
        "IOM_System_Properties": {
          "runAfter": {},
          "type": "ParseJson",
          "inputs": {
            "content": {
              "ProviderId": "6c98daf4-0305-45e4-ac21-7a67f5fbaa3a",
              "MappingGroupId": "b3591054-611d-ec11-b6e6-0022480a5ca9"
            },
            "schema": {
              "type": "object",
              "properties": {
                "ProviderId": {
                  "type": "string"
                },
                "MappingGroupId": {
                  "type": "string"
                }
              }
            }
          }
        },
        "Initialize_Processing_Execution_Result": {
          "runAfter": {
            "IOM_System_Properties": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ExecutionResult",
                "type": "boolean",
                "value": "@true"
              }
            ]
          }
        },
        "Try": {
          "actions": {
            "Acknowledge_the_Provider_Message_in_IOM": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "actionName": "msdyn_CreateProviderMessageRequestExecution",
                  "item/PowerAutomateWorkflowId": "@workflow()['tags']['xrmWorkflowId']",
                  "item/PowerAutomateRunId": "@workflow()['run']?['name']",
                  "item/ProviderMessageExternalRequestId": "@concat(triggerBody()['text'],'-',utcNow())",
                  "item/ProviderMessagePullerExecutionId": "@if(empty(triggerBody()?['text_1']), null,triggerBody()?['text_1'])"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Customer_is_Guest": {
              "actions": {
                "Check_Guest_Account_Mapping": {
                  "runAfter": {},
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "5d1410a7-9761-4f03-8fbd-e28389c81794"
                    },
                    "body": {
                      "text": "@string('msdyn_iommap_accounts')",
                      "text_1": "@body('IOM_System_Properties')?['ProviderId']",
                      "text_2": "@body('IOM_System_Properties')?['MappingGroupId']",
                      "text_3": "@body('Initialize_Provider_Variables')?['ExternalFieldName']",
                      "text_4": "@variables('GuestDetails')['accountnumber']"
                    }
                  }
                },
                "Transform_Shopify_Customer_to_Dataverse_Guest_Account_": {
                  "runAfter": {
                    "Check_Guest_Account_Mapping": [
                      "Succeeded"
                    ]
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "af05b8f2-b1fe-ea11-a813-000d3a06a63e"
                    },
                    "body": {
                      "text": "@body('IOM_System_Properties')?['ProviderId']",
                      "text_1": "@body('Initialize_Provider_Variables')?['SourceObjectName']",
                      "text_2": "@body('Initialize_Provider_Variables')?['DestinationObjectNameGuest']",
                      "text_3": "@triggerBody()?['text_2']"
                    }
                  }
                },
                "Check_if_Guest_Account_Already_exists_in_IOM": {
                  "actions": {
                    "Create_Guest_Account": {
                      "runAfter": {},
                      "type": "Workflow",
                      "inputs": {
                        "host": {
                          "workflowReferenceName": "6dcb4dba-d031-ec11-8c63-000d3a117606"
                        },
                        "body": {
                          "text": "@string(json(outputs('Transform_Shopify_Customer_to_Dataverse_Guest_Account_')?['Body']?['result'])?[0][0])"
                        }
                      }
                    },
                    "Create_Guest_Account_Mapping_": {
                      "runAfter": {
                        "Create_Guest_Account": [
                          "Succeeded"
                        ]
                      },
                      "type": "Workflow",
                      "inputs": {
                        "host": {
                          "workflowReferenceName": "27685fa6-4ca1-4a35-b9a6-75d5facd8fbf"
                        },
                        "body": {
                          "text": "@body('IOM_System_Properties')?['ProviderId']",
                          "text_1": "@body('IOM_System_Properties')?['MappingGroupId']",
                          "text_2": "@body('Create_Guest_Account')?['accountid']",
                          "text_3": "@body('Initialize_Provider_Variables')?['ExternalFieldName']",
                          "text_4": "@variables('GuestDetails')['accountnumber']"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Transform_Shopify_Customer_to_Dataverse_Guest_Account_": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Update_Guest_Account": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "c6bae1dc-f21b-445d-a8eb-8eaa911124fc"
                        },
                        "type": "Workflow",
                        "inputs": {
                          "host": {
                            "workflowReferenceName": "6dcb4dba-d031-ec11-8c63-000d3a117606"
                          },
                          "body": {
                            "text": "@string(json(outputs('Transform_Shopify_Customer_to_Dataverse_Guest_Account_')?['Body']?['result'])?[0][0])",
                            "text_1": "@json(outputs('Check_Guest_Account_Mapping')?['Body']?['mappingrecord'])?[0]['_msdyn_internalrecord_value']"
                          }
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@body('Check_Guest_Account_Mapping')?['mappingexist']",
                      "@false"
                    ]
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Acknowledge_the_Provider_Message_in_IOM": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Check_if_Account_Already_Exists_in_IOM": {
                    "actions": {
                      "Transform_Message_with_Power_Query_Online": {
                        "runAfter": {},
                        "type": "Workflow",
                        "inputs": {
                          "host": {
                            "workflowReferenceName": "af05b8f2-b1fe-ea11-a813-000d3a06a63e"
                          },
                          "body": {
                            "text": "@body('IOM_System_Properties')?['ProviderId']",
                            "text_1": "@body('Initialize_Provider_Variables')?['SourceObjectName']",
                            "text_2": "@body('Initialize_Provider_Variables')?['DestinationObjectName']",
                            "text_3": "@string(outputs('Retrieves_a_list_of_customers_that_meet_the_specified_criteria')?['body'])"
                          }
                        }
                      },
                      "Create_Customer": {
                        "runAfter": {
                          "Transform_Message_with_Power_Query_Online": [
                            "Succeeded"
                          ]
                        },
                        "type": "Workflow",
                        "inputs": {
                          "host": {
                            "workflowReferenceName": "6dcb4dba-d031-ec11-8c63-000d3a117606"
                          },
                          "body": {
                            "text": "@string(json(outputs('Transform_Message_with_Power_Query_Online')?['Body']?['result'])?[0][0])"
                          }
                        }
                      },
                      "Create_Account_Mapping": {
                        "runAfter": {
                          "Create_Customer": [
                            "Succeeded"
                          ]
                        },
                        "type": "Workflow",
                        "inputs": {
                          "host": {
                            "workflowReferenceName": "27685fa6-4ca1-4a35-b9a6-75d5facd8fbf"
                          },
                          "body": {
                            "text": "@body('IOM_System_Properties')?['ProviderId']",
                            "text_1": "@body('IOM_System_Properties')?['MappingGroupId']",
                            "text_2": "@body('Create_Customer')?['accountid']",
                            "text_3": "@body('Initialize_Provider_Variables')?['ExternalFieldName']",
                            "text_4": "@triggerBody()['text']"
                          }
                        }
                      }
                    },
                    "runAfter": {
                      "Check_Account_Mapping": [
                        "Succeeded"
                      ]
                    },
                    "expression": {
                      "equals": [
                        "@body('Check_Account_Mapping')?['mappingexist']",
                        "@false"
                      ]
                    },
                    "type": "If"
                  },
                  "Retrieves_a_list_of_customers_that_meet_the_specified_criteria": {
                    "runAfter": {},
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_cr1a6-5fshopify-5fb4ae2b78f4d4086f",
                        "operationId": "Retrieves_A_List_Of_Customers",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_cr1a6-5fshopify-5fb4ae2b78f4d4086f"
                      },
                      "parameters": {
                        "ids": "@triggerBody()['text']"
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                      }
                    }
                  },
                  "Check_Account_Mapping": {
                    "runAfter": {
                      "Retrieves_a_list_of_customers_that_meet_the_specified_criteria": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "e3807a4f-661e-46ee-a507-db1e56e40330"
                    },
                    "type": "Workflow",
                    "inputs": {
                      "host": {
                        "workflowReferenceName": "5d1410a7-9761-4f03-8fbd-e28389c81794"
                      },
                      "body": {
                        "text": "@string('msdyn_iommap_accounts')",
                        "text_1": "@body('IOM_System_Properties')?['ProviderId']",
                        "text_2": "@body('IOM_System_Properties')?['MappingGroupId']",
                        "text_3": "@body('Initialize_Provider_Variables')?['ExternalFieldName']",
                        "text_4": "@triggerBody()['text']"
                      }
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@triggerBody()['text']",
                  "@string(0)"
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_Processing_Execution_Result": [
              "Succeeded"
            ],
            "Initialize_Guest_Details_Object": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Set_the_execution_result_to_failed": {
              "runAfter": {},
              "type": "SetVariable",
              "inputs": {
                "name": "ExecutionResult",
                "value": "@false"
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "TimedOut"
            ]
          },
          "type": "Scope"
        },
        "Finally": {
          "actions": {
            "Save_Provider_message_request_execution_result": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "actionName": "msdyn_UpdateProviderMessageRequestStatus",
                  "item/ProviderMessageRequestExecutionId": "@outputs('Acknowledge_the_Provider_Message_in_IOM')?['body/ProviderMessageRequestExecutionId']",
                  "item/IsProviderMessageRequestExecutionSuccess": "@variables('ExecutionResult')",
                  "item/ProviderMessageRequestExecutionDetails": "@result('Try')"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Respond_to_a_PowerApp_or_flow": {
              "runAfter": {
                "Save_Provider_message_request_execution_result": [
                  "Succeeded"
                ]
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "execution_result": "@{variables('ExecutionResult')}"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "execution_result": {
                      "title": "Execution Result",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Catch": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "type": "Scope"
        },
        "Initialize_Guest_Details_Object": {
          "runAfter": {
            "Initialize_Provider_Variables": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "GuestDetails",
                "type": "object",
                "value": "@json(triggerBody()['text_2'])"
              }
            ]
          }
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}